@import '@/shared/styles/variables'
@import '@/shared/styles/mixins'

.body
  font-family: Arial, sans-serif
  background-color: $background-color
  color: $primary-color
  display: flex
  flex-wrap: wrap
  justify-content: center
  width: 100vw
  height: 100vh
  margin: 0
  padding: 0

