@import '@/shared/styles/variables'
@import '@/shared/styles/mixins'
@import '@/shared/styles/grid.module.sass'
@import '@/shared/ui/input/input.module'

.body
  font-family: Arial, sans-serif
  background-color: $background-color
  color: $primary-color
  margin: 0
  padding: 0

